$base-text-color: #333;
$gray-color: #8e8e8e;
$theme-color: #50be7f;
$border-color: #d7e2e8;
$link-color: #337ab7;
$link-color-hover: #23527c;
$blue: #2c84cc;
$error-red: #97141c;
$lima: #3fb34f;
$placeholder-color: #a9a9a9;
$blue-gray: #8899a6;
$mobile-highlight-color: #f5f5f5;
$moderation: #ffe082;