@mixin max-lines($max-lines, $line-height: none) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
  @if ($line-height != none) {
    line-height: $line-height;
    max-height: $line-height * $max-lines;
  }
}

@mixin clear-fix {
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

@mixin hover-opacity($opacity: .75) {
  opacity: 1;
  transition: opacity .2s;
  &:hover {
    opacity: $opacity;
  }
}

@mixin aspect-ratio($aspect-ratio: 1) {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: 100% / $aspect-ratio;
  }
}

@mixin aspect-ratio-img($aspect-ratio: 1) {
  position: relative;
  overflow: hidden;
  display: block;
  background: #ccc url(/images/photo-camera.svg) no-repeat center;
  background-size: 50px;
  @include aspect-ratio($aspect-ratio);
  > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}

@mixin row-gutter($gutter-width) {
  > .row {
    margin-left: $gutter-width / -2;
    margin-right: $gutter-width / -2;
    > .col {
      padding-left: $gutter-width / 2;
      padding-right: $gutter-width / 2;
    }
  }
}