@mixin anon-salary-bg {
  background-size: 4px 4px;
  background-image: -webkit-linear-gradient(right, #cef 0%, #cef 50%, #a3d060 50%, #a3d060 100%);
  background-image: linear-gradient(to left, #cef 0%, #cef 50%, #a3d060 50%, #a3d060 100%);
}

@mixin anon-salary-bg-blue {
  background-size: 4px 4px;
  background-image: -webkit-linear-gradient(right, #cceeff 0%, #cceeff 50%, #75c7ee 50%, #75c7ee 100%);
  background-image: linear-gradient(to left, #cceeff 0%, #cceeff 50%, #75c7ee 50%, #75c7ee 100%);
}

.salary-range {
  &-bar, &-fill {
    height: 5px;
  }
  &-bar {
    background-color: #e3e3e3;
    margin-bottom: 4px;
    position: relative;
    border-radius: 2px;
  }
  &-fill {
    width: 50%;
    background: $theme-color;
    border-radius: 2px;
    position: relative;
    &.anon, &.anon .handler-bg {
      @include anon-salary-bg;
    }
  }
  &-handler {
    position: absolute;
    right: -1px;
    top: -8px;
    width: 14px;
    height: 9px;
    display: block;
    overflow: hidden;
    .handler-clip {
      height: 8px;
      width: 8px;
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      overflow: hidden;
      position: relative;
      left: 4px;
      top: 5px;
    }
    .handler-bg {
      width: 20px;
      height: 20px;
      position: relative;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: $theme-color;
      background-position-x: 2px;
    }
  }

  &-med {
    .salary-range {
      &-bar, &-fill {
        height: 8px;
      }
    }
  }
  &-blue {
    .salary-range {
      &-fill, &-handler .handler-bg {
        background-color: #75c7ee;
      }
      &-fill {
        &.anon, &.anon .handler-bg {
          @include anon-salary-bg-blue;
        }
      }
    }
  }
}