@import "../../sass/mixin";

.text-muted {
  color: #9c9c9c !important;
}

html {
  font-size: 14px;
}

html, body, main {
  height: 100%;
}

body {

}

h4 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

small, .small {
  font-size: 90%;
}

.btn-link {
  cursor: pointer;
}

.auth-form {
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 2rem;
  border-radius: .25rem;
  background: #fafafa;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13);
  width: 350px;
  max-width: 100%;
}

#page-wrapper {
  flex: 1 0 auto;
}

.navbar {
  box-shadow: 0 1px 0 #d2d2d2;
  z-index: 1;
}

aside {
  width: 200px;
  padding: 1rem;
  height: 100%;
  a {
    color: inherit;
  }
}

.aside-menu {
  list-style: none;
  padding: 0;
  margin: 0 -1rem;
  a {
    display: block;
    padding: 10px;
    &:hover, &:focus {
      text-decoration: none;
      color: inherit;
      background: rgba(180, 180, 180, 0.4);
    }
    &.active {
      background: #607d8b;
      color: #fff;
    }
  }
}

.model-images {
  margin-top: 15px;
  //@include row-gap(10px); //todo replace by bootsrrap 4 mixins
  .col {
    margin-bottom: 10px;
  }
}

figure.image-upload-preview {
  width: 150px;
  height: 150px;
  background: #ccc no-repeat center;
  display: block;
  &.contain {
    background-size: contain;
  }
  &.logo {
    background-size: 80%;
  }
  .delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    opacity: 0;
    transition: opacity .25s;
  }
  .select {
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    .select-inner {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      border: 3px solid #fff;
      box-sizing: content-box;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: opacity .3s;
    }
    input {
      display: none;
      &:checked {
        ~ .select-inner {
          opacity: 1;
          background-color: #0c3;
        }
      }
    }
  }
  &:hover {
    .select .select-inner {
      opacity: 1;
    }
    .delete {
      opacity: 1;
    }
  }
}

.file-upload-preview {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 10px 10px 0 0;
  vertical-align: middle;
  min-width: 100px;
  min-height: 10px;
  background: #ccc no-repeat center;
  padding: 10px;
  word-break: break-all;
  .format {
    font-weight: bold;
    font-size: large;
    color: #fff;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  }
  .title {
    margin-top: 1em;
    white-space: normal;
    font-size: small;
  }
  .delete {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    height: 15px;
    width: 15px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.image-upload-preview, .file-upload-preview {
  position: relative;
  margin: 0;
  .preloader {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5px;
    margin-top: -2px;
    display: none;
    font-size: 0;
    vertical-align: middle;
    text-align: center;
    i {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: inherit;
      background: #fff;
      margin-left: 3px;
      animation: show-preloader-shape 500ms ease-out;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      &:first-child {
        margin-left: 0
      }
      &:nth-child(1) {
        animation-delay: 200ms;
      }
      &:nth-child(2) {
        animation-delay: 400ms;
      }
      &:nth-child(3) {
        animation-delay: 600ms;
      }
      &:nth-child(4) {
        animation-delay: 800ms;
      }
    }
  }
  &.show-preloader {
    background-color: #ccc;
    .preloader {
      display: inline-block
    }
  }
}

@keyframes show-preloader-shape {
  from {
    opacity: 1
  }
  to {
    opacity: 0.5
  }
}

.file-upload-preview {
  .preloader {
    i {
      background: #ccc
    }
  }
  &.show-preloader {
    background: none;
    .fa, .delete, .title {
      display: none
    }
  }
}

#logout-btn {
  text-align: left;
  width: 100%;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border: 0;
  background: none;
  &:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

/* @see: http://brandcolors.net/ */
.brand-color {
  .fa-vk {
    color: #4d75a3
  }
  .fa-facebook {
    color: #3b5998
  }
  .fa-linkedin {
    color: #016fac
  }
  .fa-instagram {
    color: #3f729b
  }
  .fa-pinterest {
    color: #cc2127
  }
  .fa-odnoklassniki {
    color: #ed812b
  }
  .fa-medium {
    color: #000
  }
  .fa-tumblr {
    color: #394c61
  }
  .fa-twitter {
    color: #4099ff
  }
  .fa-youtube-play, .fa-youtube {
    color: #e52d27
  }
  /* more 300 top world brands... */
}

.min-cell {
  width: 1px;
}

.pointer {
  cursor: pointer;
}

.fa-times.red {
  color: #d43f3a;
}

.iframe-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);
}

.stars {
  color: #ccc;
  .fa-star {
    color: #ffb500;
  }
}

.table-schedule {
  tbody {
    td {
      padding: 0 !important;
      position: relative;
    }
  }
  .hour {
    height: 40px;
    font-size: 12px;
    text-align: right;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-right: 2px;
  }
  .item {
    cursor: pointer;
    position: absolute;
    border: 1px solid #a9abfe;
    background-color: #dcf1db;
    color: #000;
    width: 100%;
    top: 0;
    font: bold 10px Arial, sans-serif;
    transition: background-color .14s ease-out;
    span {
      font: 12px Arial, sans-serif;
    }
    .item-inner {
      height: 100%;
      padding: 0 2px 0 4px;
      overflow: hidden;
    }
  }

  .tooltip {
    z-index: 1029;
    display: none;
    cursor: auto;
    .avatar {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
    .time {
      clear: both;
    }
    .tooltip-arrow {
      border-bottom-color: #fff;
    }
    .tooltip-inner {
      padding: 8px;
      background-color: #fff;
      color: #777;
      text-align: left;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    hr {
      margin: 10px 0;
    }
    .remove, .edit {
      cursor: pointer;
    }
    .edit {
      float: right;
      margin-left: 10px;
    }
  }
}

.color-tile {
  width: 15px;
  height: 10px;
  display: inline-block;
}

#companies-list {
  .logo {
    border: 1px #ddd solid;
    border-radius: 2px;
    font-size: 0;
    display: inline-block;
    padding: 2px;
    background: #fff;
  }
  .logo-inner {
    width: 50px;
    height: 50px;
    background: #ccc no-repeat center;
    background-size: 100%;
  }
}

.rating-stars {
  .fa-star {
    color: gold;
  }
  .fa-star-o {
    color: #ccc;
  }

  .rating-value {
    margin-right: 5px;
  }
}

.alert-messages {
  p {
    padding: 15px;
  }
}

.table-nonfluid {
  width: auto !important;
}

.top-buffer {
  margin-top: 20px;
}

.bot-buffer {
  margin-bottom: 20px;
}

.fa-exclamation-triangle.text-warning {
  color: #ffa500;
}

.ui-tabs {
  border: 0;
  padding: 0;
  .ui-tabs-nav {
    border: 0;
    background: 0;
  }
  .ui-tabs-panel {
    padding: 0;
  }
}

.tag-editor {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  .placeholder {
    padding-left: 0;
  }
}

.highlight {
  background: yellow;
}

input.date {
  max-width: 200px;
}

.avatar {
  @include aspect-ratio-img;
  background: #ccc url(/images/avatar.svg) no-repeat bottom;
  width: 30px;
  background-size: 85%;
  overflow: hidden;
  border-radius: 50%;
  > img {
    border-radius: 50%;
  }
}

.report {
  background: rgba(96, 125, 139, 0.14);
  &-images {
    //@include row-gap(1rem); //todo bootstrap 4 mixins
    img {
      display: block;
      border-radius: .25rem;
      margin-top: 1rem;
    }
  }
}

.nav-link {
  cursor: pointer;
  color: #0275d8;
}

.tab-contents {
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.files-table {
  > tbody {
    > tr {
      cursor: pointer;
      &.active {
        > td {
          background: #4285f4;
          color: #fff;
        }
      }
    }
  }
  .icon-file {
    color: #8f8f8f;
    font-size: 1.2em;
    margin-right: 0.2em;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
  }
}

.dialog-modal {
  width: 100%;
  max-width: 400px;
}

.file-dialog {
  width: 400px;
  max-width: 100%;
}

a.dotted {
  border-bottom: 1px dotted;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.jstree {
  outline: none;
}

.fancybox-close-small {
  &:focus {
    outline: none;
  }
}

.select-file-dialog {
  max-width: 600px;
  .view {
    border: 1px solid #dadada;
    height: 300px;
    overflow: auto;
    margin-bottom: 1rem;
  }
}

.attached-files {
  .remove {
    margin-left: 5px;
    color: red;
    cursor: pointer;
  }
}

.videos {
}

.video-item {
  @include aspect-ratio-img(16/9);
  width: 300px;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-image: none;
  &-thumb {
    pointer-events: none;
  }
  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .play {
    background: url("/admin-assets/play-button.svg") no-repeat center;
    background-size: contain;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.8);
    transition: transform .1s ease-out;
  }
  .delete {
    background: url("/admin-assets/clear-button.svg") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
  }
  &:hover {
    .play {
      transform: scale(1);
    }
    .delete {
      opacity: 1;
    }
  }
}

#contact-map {
  background: #ccc;
  height: 400px;
}