


@include keyframes(slideInLeft) {
	0% {
		opacity: 0;
		@include transform(translateX(-350px) translateY(40px) scale(0.5));
	}
	80% {
		opacity: 0.2;
	}
	90% {
		opacity: 1;
	}
	100% {
		@include transform(translateX(0) translateY(0) scale(1));
	}
}

@mixin animation-slideInLeft(){
	@include animation-duration(500ms);
	@include animation-fill-mode(both);
	@include animation-name(slideInLeft);
	@include animation-timing-function(ease-out);
}